.contact-header {
    margin: 5%;
    text-align: center;
}

.contact {
    margin: 5%;
    text-align: center;
    background-color: #4361EE;
    color: white;
    
    ::placeholder {
        color: black;
    }
  
    form {
        padding: 5%;
    }
    
    .input-long, .input-short, button {
        width: 100%;
        margin: 1%;
        border: none;
        background-color: white;
        height: fit-content;
        padding: 1%;
    }
  
    button {
      margin: 1%;
      min-height: 5vh;
      text-align: center;
      background-color: white;
      border: none;
      width: 100%;
    }
  
    button:hover {
      background-color: #F72585;
      color: white;
      transition: 0.3s;
    }
  
  }

.map {
    margin: 5%;
}