body {
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;

    margin:0;
    padding:0;

    width: 100%;

    h1 {
        font-size: 9vw;
        font-family: "Oswald", sans-serif;
        font-optical-sizing: auto;
        font-style: normal;
    }    

    h2 {
        font-size: 8vw;
        font-family: "Oswald", sans-serif;
        font-optical-sizing: auto;
        font-style: normal;
    }

    h3 {
        font-size: 7vw;
        font-family: "Oswald", sans-serif;
        font-optical-sizing: auto;
        font-style: normal;
    }

    h4 {
        font-size: 6vw;
        font-family: "Oswald", sans-serif;
        font-optical-sizing: auto;
        font-style: normal;
    }

    h5 {
        font-size: 5vw;
        font-family: "Oswald", sans-serif;
        font-optical-sizing: auto;
        font-style: normal;
    }

    h6 {
        font-size: 4vw;
        font-family: "Oswald", sans-serif;
        font-optical-sizing: auto;
        font-style: normal;
    }

    p {
        font-size: 3vw;
        font-family: "Oswald", sans-serif;
        font-optical-sizing: auto;
        font-style: normal;
    }

    button {
        font-size: 3vw;
        font-family: "Oswald", sans-serif;
        font-optical-sizing: auto;
        font-style: normal;
    }
}