header {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 20px;
    padding-bottom: 20px;

    .fiix-it-logo {
        img {
            width: 3vw;
            height: auto;
        }
    }
}