header {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 20px;

    .center-logo {
        text-align: center;
    }

    .fiix-it-logo {
        img {
            width: 15vw;
            height: auto;
        }
    }
}