.content {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 20px;

    background-color: rgb(34, 34, 255);
}

.herophoto {
  background-image: url("../img/bg.jpg");
  background-size: contain;
  display: flex;
  background-repeat: no-repeat;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100vh;
  width: 100%;
}

.herophoto-text {
  text-align: center;
  justify-content: center;
  align-items: center;
  display: flex;

  background-color: white;

  .blue-color {
    color: rgb(34, 34, 255);
  }
}

.center-elements {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}