.content {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 20px;

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.herophoto {
  margin-left: 5%;
  margin-right: 5%;
  padding: 20vh;
  padding-left: 5%;
  padding-right: 5%;
  background-image: url("../img/cb.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
}

.herophoto-text {
  text-align: center;
  justify-content: left;
  align-items: left;

  padding: 5px;
  padding-left: 2%;

  background-color: white;

  .blue-color {
    color: #4361EE;
  }
}

.center-elements {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

  button {
    width: 20vw;
    font-size: 3vw;
    text-decoration: none;
    background: none;
  }

  button:hover {
    transition: 0.15s;
    background-color: #4361EE;
    color: white;
  }
}

.case-study {
  width: 100%;

  a {
    text-decoration: none;
    color: black;
    width: 50%;
  }

  a:hover {
    transition: 0.15s;
    color: white;
  }

  h6 {
    text-align: center;
  }

  .case-study-1 {
    display: inline-block;
    width: 50%;
    padding: 5%;
    margin: 5%;
    border: none;
    background-color: #4361EE;

    p {
      color: white;
    }

    img {
      width: 100%;
    }
  }

  .case-study-2 {
    display: inline-block;
    width: 50%;
    padding: 5%;
    margin: 5%;
    border: none;
    background-color: #4361EE;

    p {
      color: white;
    }
    img {
      width: 100%;
    }
  }

  .case-study-2:hover, .case-study-1:hover {
    background-color: #F72585;
    transition: 0.15s;
    color: white;
    a {
      color: white;
    }
  }

}

.case-studies {
  display: inline-flex;
  width: 100%;

  h6 {
    text-align: left;
    color: white;
  }
}

.gallery-cell {
  text-align: center;
  width: 100%;
  text-align: center;
  align-items: center;
  justify-content: center;
  display: block;
}

.contact {
  margin: 5%;
  text-align: center;
  background-color: #4361EE;
  color: white;
  
  ::placeholder {
      color: black;
  }

  form {
      padding: 5%;
  }
  
  .input-long, .input-short, button {
      width: 100%;
      margin: 1%;
      border: none;
      background-color: white;
      min-height: 5vh;
  }

  button {
      margin: 1%;
      width: 100%;
      background-color: white;
      font-size: 2vw;
      font-family: "Oswald", sans-serif;
      font-optical-sizing: auto;
      font-style: normal;
      border: none;
  }

  button:hover {
      background-color: #F72585;
      color: white;
      transition: 0.15s;
  }

}

.links {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

  .links-col-1 {
    margin: 5% !important;
    display: inline-flexbox;
    margin: 1%;

    p {
      padding: 2%;
      color: white;
    }

    a {
      padding: 2%;
      color: white;
      text-decoration: none;
    }

    .square-1 {
      position: relative;
      width: 150px;
      height: 150px;
      background-color: #F72585;
      transition: .3s;
      border-radius: 10px;
      top: 0px;
      left: 0px;

      .bg-image {
        background-image: url("../img/icons/cart4-inverted.svg");
        background-repeat: no-repeat;
        background-size: contain;
        height: 100%;
        margin: 10%;
      }
    }

    .square-2 {
      position: relative;
      width: 150px;
      height: fit-content;
      background-color: #4361EE;
      transition: .3s;
      border-radius: 10px;
      top: -50px;
      left: 50px;
    }

    a:hover {
      .square-1 {
        background-color: #4361EE;
        transition: .3s;
      }
      
      .square-2 {
        background-color: #F72585;
        transition: .3s;
      }
    }
  }

  .links-col-2 {
    margin: 5% !important;
    display: inline-flexbox;
    margin: 1%;

    p {
      padding: 2%;
      color: white;
    }

    a {
      padding: 2%;
      color: white;
      text-decoration: none;
    }

    .square-1 {
      position: relative;
      width: 150px;
      height: fit-content;
      background-color: #4361EE;
      transition: .3s;
      border-radius: 10px;
      top: 0px;
      left: 0px;
      z-index: 1;
    }

    .square-2 {
      position: relative;
      height: fit-content;
      width: 150px;
      height: 150px;
      background-color:  #F72585;
      transition: .3s;
      border-radius: 10px;
      top: -50px;
      left: 25px;

      .bg-image {
        background-image: url("../img/icons/hand-thumbs-up-inverted.svg");
        background-repeat: no-repeat;
        background-size: contain;
        height: 100%;
        margin: 10%;
      }
    }

    a:hover {
      .square-1 {
        background-color: #F72585;
        transition: .3s;
      }
      
      .square-2 {
        background-color: #4361EE;
        transition: .3s;
      }
    }
  }

  .links-col-3 {
    margin: 5% !important;
    display: inline-flexbox;
    margin: 1%;

    p {
      padding: 2%;
      color: white;
    }

    a {
      padding: 2%;
      color: white;
      text-decoration: none;
    }

    .square-1 {
      position: relative;
      width: 150px;
      height: 150px;
      background-color: #F72585;
      border-radius: 10px;
      top: 0px;
      left: 0px;

      .bg-image {
        background-image: url("../img/icons/telephone-inverted.svg");
        background-repeat: no-repeat;
        background-size: contain;
        height: 100%;
        margin: 10%;
      }
    }

    .square-2 {
      position: relative;
      width: 150px;
      height: fit-content;
      background-color: #4361EE;
      border-radius: 10px;
      top: -50px;
      left: -25px;
    }

    a:hover {
      .square-1 {
        background-color: #4361EE;
        transition: .3s;
      }
      
      .square-2 {
        background-color: #F72585;
        transition: .3s;
      }
    }
  }

  .links-col-4 {
    margin: 5% !important;
    display: inline-flexbox;
    margin: 1%;

    p {
      padding: 2%;
      color: white;
    }

    a {
      padding: 2%;
      color: white;
      text-decoration: none;
    }

    .square-1 {
      position: relative;
      width: 150px;
      height: fit-content;
      background-color: #4361EE;
      transition: .3s;
      border-radius: 10px;
      top: 0px;
      left: 0px;
      z-index: 1;
    }

    .square-2 {
      position: relative;
      width: 150px;
      height: 150px;
      background-color: #F72585;
      transition: .3s;
      border-radius: 10px;
      top: -50px;
      left: -50px;

      .bg-image {
        background-image: url("../img/icons/book-inverted.svg");
        background-repeat: no-repeat;
        background-size: contain;
        height: 100%;
        margin: 10%;
      }
    }

    a:hover {
      .square-1 {
        background-color: #F72585;
        transition: .3s;
      }
      
      .square-2 {
        background-color: #4361EE;
        transition: .3s;
      }
    }
  }
  
}

.links-mobile {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

  .row-1 {
    display: inline;
    padding-right: 10%;
  }
  .row-2 {
    display: inline;
    padding-left: 10%;
  }

  .links-col-1 {
    margin: 5% !important;
    display: inline-flexbox;
    margin: 1%;

    p {
      padding: 2%;
      color: white;
    }

    a {
      padding: 2%;
      color: white;
      text-decoration: none;
    }

    .square-1 {
      position: relative;
      width: 150px;
      height: 150px;
      background-color: #F72585;
      transition: .3s;
      border-radius: 10px;
      top: 0px;
      left: 0px;

      .bg-image {
        background-image: url("../img/icons/cart4-inverted.svg");
        background-repeat: no-repeat;
        background-size: contain;
        height: 100%;
        margin: 10%;
      }
    }

    .square-2 {
      position: relative;
      width: 150px;
      height: fit-content;
      background-color: #4361EE;
      transition: .3s;
      border-radius: 10px;
      top: -50px;
      left: 50px;
    }

    a:hover {
      .square-1 {
        background-color: #4361EE;
        transition: .3s;
      }
      
      .square-2 {
        background-color: #F72585;
        transition: .3s;
      }
    }
  }

  .links-col-2 {
    margin: 5% !important;
    display: inline-flexbox;
    margin: 1%;

    p {
      padding: 2%;
      color: white;
    }

    a {
      padding: 2%;
      color: white;
      text-decoration: none;
    }

    .square-1 {
      position: relative;
      width: 150px;
      height: fit-content;
      background-color: #4361EE;
      transition: .3s;
      border-radius: 10px;
      top: 0px;
      left: 0px;
      z-index: 1;
    }

    .square-2 {
      position: relative;
      height: fit-content;
      width: 150px;
      height: 150px;
      background-color:  #F72585;
      transition: .3s;
      border-radius: 10px;
      top: -50px;
      left: 25px;

      .bg-image {
        background-image: url("../img/icons/hand-thumbs-up-inverted.svg");
        background-repeat: no-repeat;
        background-size: contain;
        height: 100%;
        margin: 10%;
      }
    }

    a:hover {
      .square-1 {
        background-color: #F72585;
        transition: .3s;
      }
      
      .square-2 {
        background-color: #4361EE;
        transition: .3s;
      }
    }
  }

  .links-col-3 {
    margin: 5% !important;
    display: inline-flexbox;
    margin: 1%;

    p {
      padding: 2%;
      color: white;
    }

    a {
      padding: 2%;
      color: white;
      text-decoration: none;
    }

    .square-1 {
      position: relative;
      width: 150px;
      height: 150px;
      background-color: #F72585;
      border-radius: 10px;
      top: 0px;
      left: 0px;

      .bg-image {
        background-image: url("../img/icons/telephone-inverted.svg");
        background-repeat: no-repeat;
        background-size: contain;
        height: 100%;
        margin: 10%;
      }
    }

    .square-2 {
      position: relative;
      width: 150px;
      height: fit-content;
      background-color: #4361EE;
      border-radius: 10px;
      top: -50px;
      left: -25px;
    }

    a:hover {
      .square-1 {
        background-color: #4361EE;
        transition: .3s;
      }
      
      .square-2 {
        background-color: #F72585;
        transition: .3s;
      }
    }
  }

  .links-col-4 {
    margin: 5% !important;
    display: inline-flexbox;
    margin: 1%;

    p {
      padding: 2%;
      color: white;
    }

    a {
      padding: 2%;
      color: white;
      text-decoration: none;
    }

    .square-1 {
      position: relative;
      width: 150px;
      height: fit-content;
      background-color: #4361EE;
      transition: .3s;
      border-radius: 10px;
      top: 0px;
      left: 0px;
      z-index: 1;
    }

    .square-2 {
      position: relative;
      width: 150px;
      height: 150px;
      background-color: #F72585;
      transition: .3s;
      border-radius: 10px;
      top: -50px;
      left: -50px;

      .bg-image {
        background-image: url("../img/icons/book-inverted.svg");
        background-repeat: no-repeat;
        background-size: contain;
        height: 100%;
        margin: 10%;
      }
    }

    a:hover {
      .square-1 {
        background-color: #F72585;
        transition: .3s;
      }
      
      .square-2 {
        background-color: #4361EE;
        transition: .3s;
      }
    }
  }
  
}

@media only screen and (max-width:1000px) {
  .links {
    display: none;
  }
}

@media only screen and (min-width:1000px) {
  .links-mobile {
    display: none;
  }
}