.content {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 20px;

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.herophoto {
  padding: 15vh;
  padding-left: 5%;
  padding-right: 5%;
  background-image: url("../img/cb.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
}

.herophoto-text {
  text-align: left;
  justify-content: left;
  align-items: left;

  padding: 5px;
  padding-left: 2%;

  background-color: white;

  .blue-color {
    color: rgb(34, 34, 255);
  }
}

.center-elements {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

  button {
    width: 20vw;
    font-size: 3vw;
    text-decoration: none;
    background: none;
  }

  button:hover {
    background-color: rgb(34, 34, 255);
    color: white;
  }
}

.case-study {
  width: 100%;

  a {
    text-decoration: none;
    color: black;
    width: 50%;
  }

  a:hover {
    color: white;
  }

  h6 {
    text-align: center;
  }

  .case-study-1 {
    display: inline-block;
    width: 50%;
    padding: 5%;
    margin: 5%;
    border: solid;

    img {
      width: 100%;
    }
  }

  .case-study-2 {
    display: inline-block;
    width: 50%;
    padding: 5%;
    margin: 5%;
    border: solid;

    img {
      width: 100%;
    }
  }

  .case-study-2:hover, .case-study-1:hover {
    background-color: rgb(34, 34, 255);
    transition: 0.15s;
    border: none;
    color: white;
    a {
      color: white;
    }
  }

}

.case-studies {
  display: inline-flex;
}

.nav-buttons {
  display: inline-flex;

  button {
    background: none;
    border: solid;
    border-radius: 1;
  }

  button:hover {
    background-color: rgb(34, 34, 255);
    transition: 0.15s;
    color: white;
    border: none;
  }

}

.nav-button-container {
  width: 100%;
  align-items: center;
  justify-content: center;
  text-align: center;

  button {
    width: 30vw;
  }

  h6 {
    text-align: center;
  }

  .nav-button-1 {
    display: inline-block;

    align-items: center;
    justify-content: center;
    text-align: center;

    width: 50%;
  }

  .nav-button-2 {
    display: inline-block;

    align-items: center;
    justify-content: center;
    text-align: center;

    width: 50%;
  }

}