body {
    width: 100%;
    background-color: #e63946;
    position: relative;
}

.ojuju-1 {
    font-family: "Ojuju", sans-serif;
    font-style: normal;
}

header {
    background-color: #e63946;
    color: #f1faee;
    text-align: center;
    font-family: Ojuju;
}

nav {
    background-color: #f1faee;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 2%;
    font-family: Ojuju;
    margin-left: -2%;    
}

a:hover {
    color:#e63946;
}

section {
    background-color: #a8dadc;
    margin-left: 23.5%;
    margin-right: 5%;
    margin-top: 5%;
    margin-bottom: 5%;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 1%;
    padding-bottom: 1%;
    font-family: Ojuju;
}

aside {
    position: absolute;
    z-index: 1;
    float: left;
    background-color: #457B9D;
    padding: 3%;
    margin-left: -2.5%;
    text-align: center;
    font-family: Ojuju;
    min-height: 76%;

}

article {
    background-color: #a8dadc;
    margin-left: 23.5%;
    margin-right: 5%;
    margin-top: 5%;
    margin-bottom: 5%;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 1%;
    padding-bottom: 1%;
    font-family: Ojuju;
}

footer {
    background-color: #1D3557;
    text-align: center;
    padding-top: 1px;
    padding-bottom: 1px;
    font-family: Ojuju;
    margin-left: -2%;
    padding-left: 2%;
    margin-bottom: -10%;
    z-index: 10;
    position: relative;
}

/*Classed css*/

.section {
    background-color: #a8dadc;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 5%;
    margin-bottom: 5%;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 1%;
    padding-bottom: 1%;
    font-family: Ojuju;
}

.article {
    background-color: #a8dadc;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 5%;
    margin-bottom: 5%;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 1%;
    padding-bottom: 1%;
    font-family: Ojuju;
}